extends layout
block content
    div.row
        div.col-md-1

        div.col-md-10(class='pageWrapper')
            div.row
                div.col-md-12(class='heading')
                    | Subscription Info App
            div.row
                div.col-md-3(style='height:100%; padding-top:50px; text-align:center')
                    img(src='images/vtg2.png')
                div.col-md-9(class='bodyblock')
                    ul(class='nav nav-tabs')
                      li(role='presentation' class='active')
                        a(href='/') Home
                      li(role='presentation')
                        a(href='/subscriptions' class='navLink') Subscription Details
                      li(role='presentation')
                        a(href='/subscribers' class='navLink') Subscribers
                      
                    div(class='panelBorder')
                        br
                        br
                        | VTG Case Study Interview
        div.col-md-1
                
    